/* Comentario */
*{box-sizing: border-box;margin: 0;padding: 0;}
/*body{font-size: 20px;}
#nav{background-color: #ff0;}
.vermelho{
	background-color: #f00;
	background-image: url(bg.jpg);
	color: #0046FF;
	font-size: 18px;
	width: 300px;
	height: 300px;
	margin: 20px;
	padding: 50px;
}
*/
body{background-image: url(bg.jpg);background-size: cover;font-family: Arial;}
#nav{text-align: center; height: 60px;}
#nav a{font-size: 18px; font-family: 'Helvetica', sans-serif; transition: all .2s linear; text-align: center; margin-top:1%;}
#nav a:hover{color: #2e04a0; transition: all .2s linear;}
.container{width: 1000px;margin: 0 auto;}
#images{
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

#images img{
    width: 300px;
    height: 300px;
    margin: auto 20px;
}
.titulo{font-size: 70px;font-family: 'Baloo Bhaina';text-align: center;line-height: 80px;margin: 30px 0 0 0;color: #a00366;}
.link{padding: 10px;display: inline-block;text-decoration: none;color: #8f9cc6;}
.moldura{height: 600px;overflow: hidden;}
.banner{width: 100%;}
.bg-white{background-color: rgba(255,255,255,0.7);}
.bg-text{padding: 30px 50px 30px 50px;color: #666;margin: 20px auto 20px auto;}
.bg-text p{margin: 0 0 20px 0;}
.bg-text h2{font-size: 45px;}
.footer{text-align: center;padding: 10px;filter: blur(61)}